/* セクション4：CSSの基礎から始めよう(Transition編） 14.Transitionプロパティーの使い方を学ぼう（ボタンにホバーアクションを追加！！） */

#container {
  /* インライン要素を中央揃え */
  text-align: center;
}

.btn {
  background-color: white;
  /* 文字の色 */
  color: black;
  /* 枠線 */
  border: 1px solid black;
  /* 文字と枠線の余白 */
  padding: 10px 40px;
  /* 枠の外側の余白 */
  margin: 50px 0px;
  /* 文字の太さ 100~900(デフォルトは500) */
  font-weight: 600;
  /* マウスのカーソルをボタンの上に持っていくとポインターになる */
  cursor: pointer;
  /* 状態が写り変わる秒数 transition: (箇所) (秒) (移り変わりの緩急) (開始するまでの遅延時間) */
  transition: color 0.3s ease 1s,
              background-color 0.3s ease 2s;
}

/* ボタンをホバーした時 */
.btn:hover {
  background-color: black;
  color: white;
}